@keyframes borderStripe {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animate-border {
    background-size: 300% 300%;
    animation: borderStripe 4s infinite linear;
  }
  